* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input,
button {
    cursor: pointer;
}

body {
    padding-top: 20px;
    background-color: #001937;
    font-family: Arial, Helvetica, sans-serif;
}

.slider {
    position: relative;
    margin: 0 auto;
}

.slider__item {
    position: absolute;
    flex-direction: column;
    overflow: hidden;
    transition: transform .5s, z-index .3s;
}

.slider__item img {
    height: 90%;
    width: auto;
}

.like-icon {
    display: inline-block;
    font-size: 20px;
    color: red !important;
    animation: likeMove 1s linear infinite;
}

@keyframes likeMove {

    0%,
    50%,
    90% {
        transform: scale(1.2);
    }

    10%,
    60%,
    100% {
        transform: scale(.8);
    }

}

.img-subtitle {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #fff;
    opacity: 0;
    transition: opacity .3s;
}

.active-slide .img-subtitle {
    opacity: 1;
}

.img-title {}

.dots-list {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    list-style: none;
}

.dots-item input {
    margin: 0 5px;
    appearance: none;
    border: none;
    outline: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    background-color: #02305F;
    transition: border-color .3s, background-color .3s, transform .3s;
}

.active-dots input {
    background-color: transparent;
    border-color: #02305F;
    transform: translateY(10px);
}

.arrow-btn {
    z-index: 20;
    position: absolute;
    top: calc((100% - 300px) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background: none;
    outline: none;
    border: 3px solid #F5D182;
}

.prev-btn {
    left: calc((100% - 500px) / 2);
}

.next-btn {
    right: calc((100% - 500px) / 2);
}

.prev-btn::before {
    content: url(./img/prev.png);
}

.next-btn::before {
    content: url(./img/next.png);
}

.arrow-btn::before {
    display: block;
    position: absolute;
}

.disabled-btn {
    opacity: 0;
}